/*----------------------- media query for mobile  -----------------*/
@media only screen and (max-width:688px){
    /*-------------common start ------------*/
    main{
        padding: 10px;
    }
    .container{
        width: 100%;
    }
    body{
        background-color: white;
        box-sizing: border-box;
    }
    /*-------------- navigation style start ----------- */
    header{
        position: static;
        border-bottom: 2px solid black;
        box-shadow: 0px 0px 0px white ;
        padding: 0px;
    }
    .top-text{
        font-size: 22px;
    }
    .navigation-container{
        width: 100%;
        margin: 10px 0;
    }
    .navigation > ul >li {
        display: none;
    }
    .shop{
        display: block;
        margin-right: 30px;
    }
    .shop li{
        list-style: none;
    }
    .shop a{
        font-size: 22px;
        text-decoration: none;
        color: rgba(58, 58, 58, 1);
    }
    /*----------- home style start  --------*/
    #home{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        padding: 0px;
    }
    .home-text > h1{
        font-size: 32px;
        text-align: start;
    }
    .home-text > p{
        text-align: justify;
    }
    .home-thumbnail{
        display: flex;
        justify-content: center;
        margin-left: 20px;
        background-image: none;
    }
    .home-thumbnail img{
        width: 60%;
    }
    .half-width{
        width: 100%;
    }
    .online-shops{
        margin: 20px 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
    .online-shops a{
        margin:2px 15px;
        padding: 0px;
    }
    .online-shops a img {
        width: 100%;
    }
    /*------------------ product start  -----------*/
    .products{
        display: flex;
        flex-wrap: wrap;
    }
    .products-container {
        padding-top: 20px;
    }
    .feature-product{
        display: block;
        flex-direction: column;
    }
    .feature-product img{
        width: 100%;
    }
    .feature-product-info{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .feature-product-info h1{
        font-size: 24px;
        font-weight: 700;
    }   
     .see-more{
        justify-content: center;
        text-decoration: none;
        color: rgba(224, 44, 109, 1);
        margin: 50px 20px;}
    
}
/*----------------------- media query for tablet  -----------------*/
@media only screen and (min-width:689px) and (max-width:1444px){
    .container{
        max-width: 800%;
        margin: 0px auto;
    }
    header{
        padding: 20px 0 0 0;
    }
    .navigation-container{
        width: 800px;
        margin: 20px auto;
    }
    .navigation{
        margin: 10px 5px;
    }
    #home{
        padding-top: 40px;
    }
    .products-container{
        padding-top: 40px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
    .link-holder{
        display: flex;
        justify-content: start;
        margin-left: 80px;
    }
    .feature-product{
        display: flex;
        flex-direction: column;
    }
}