header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 5px 5px 10px gray;
    padding: 37px 0 0 0;
    z-index: 5
}
.navigation-container{
    width: 1200px;
    margin: 20px auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    color: rgba(58, 58, 58, 1);
}
.shop{
    display: none;
}
.top-text{
    font-size: 24px;
    font-weight: 700px;
}
.navigation > ul{
    display: flex;
}
.navigation > ul > li{
    list-style: none;
    padding: 0 5px;
}
.navigation > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 20px;
}
.navigation > ul > li > a:hover{
    background-color: gray;
}
.navigation > ul > li > a:active{
    position: relative;
    top: 4px;
}