.navigation{
    display: flex;
    justify-content: space-between;
    margin: 87px 10px;
}
.top-text{
    font-size: 24px;
    font-weight: 700px
    ;
}
.navigation > ul{
    display: flex;
}
.navigation > ul > li{
    list-style: none;
    padding: 0 5px;
}
.navigation > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 15px 15px;
}